*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Noto Serif TC', serif;
}


h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.head{
    font-size: 3.5rem;
}
.header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    .logo{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 5 1 400px;
        img{
            width: 100px;
            margin-left: 5vw;
        }
     }
    }

    nav{
        flex: 2 1 400px ;
        margin-right: 5vw;
        // 設定最小寬度400px，2等份
        ul{
            display: flex;
            list-style-type: none; //點點去掉
            justify-content: space-around;
        
            li{
                    text-decoration: none;
                    font-size: 1.2rem;
                    background-color: rgba(222, 222, 222, 0.3);
                    padding: 0.5rem 1rem;
                    border-radius: 12%;
                
                
            }
        }

    }

    .backimage{
        min-height: 70vh;
        width: 100%;
        background-image: url(../JPG/cover.jpeg);
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 1rem;
    }
    .fillter{
       h3{
        padding-top: 1rem;
        font-size: 2rem;
       }
       .start{
           padding: 0.5rem 1.5rem;
           margin-top: 12rem;
           border: none;
           border-radius: 0.5rem;
           font-size: 2rem;
           font-weight:bolder;
           background-color: rgba(214, 8, 8, 0.3);
           color: white;
       }
    }

    section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1rem;
    h2{
        margin: 1rem;
    }
    
    
        part.cd{
            display: flex;
            width: 80%;
            height: 100%;
           
    
            div.card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 1rem 1rem;
                
                
    
                h4{
                    font-size: 2rem;
                }
    
                p{
                    font-size: 1rem;
                    padding: 1rem 5rem;
                    font-size: larger;
                }
    
                img{
                   height:20vw;
                   width: 20vw;
                   border-radius: 1rem;
                    
                }
    
                a{
                    text-decoration: none;
                    background-color: rgba(222, 222, 222, 0.6);
                    padding: 0.5rem 1rem;
                    border-radius: 0.2rem;
                    color: rgb(0, 0, 0);
                    font-weight: bolder;
                    margin-top: 5rem;
                }
            }
    
        }
    }
    
    
    
    